.alert {
    width: 90%;
    padding: 20px 10px;
}

.alert-info {
    background-color: #8e44ad;
}
.alert-success {
    background-color: #27ae60;
}
.alert-warning {
    background-color: #e67e22;
}
.alert-error {
    background-color: #c0392b;
}