/**
* SETTINGS
*/
body {
    background-image: url("../img/bg.png")
}

/**
* HEADER
*/
header {
    position: fixed;
    color: #e1e1e1;
    background-image: url("../img/head.png");
    height: 80px;
    width: 100%;
    z-index: 999;
}

/**
* NAVIGATION
*/
nav {
    position: fixed;
    color: #e1e1e1;
    height: 100%;
    width: 20%;
    z-index: 99;
    top: 80px;
    background-image: url("../img/nav.png");
}