<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{{ 'Margo' }}</title>
    <link href="{{ app.request.basepath }}/css/normalize.css" rel="stylesheet" type='text/css'>
    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet" type='text/css'>
</head>
<body>

<header>dfsdf

</header>

<nav>
sqdqsd
</nav>

<section>
    {% block content %}
    {% endblock %}
</section>

<footer>

</footer>

</body>
</html>